<div class="col-md-8">
	<div class="fileSection">
      <form id="fileInfo">
        <input type="file" class="list-group-item list-group-item-warning" id="fileInput" name="files"/>
      </form>
      <section>
	      <div class="progress">
	        <div class="label black">Send progress: </div>
	        <progress id="sendProgress" max="0" value="0"></progress>
	      </div>
	      <div id="bitrate"></div>
	      <a id="download" href=""></a>
	      <span id="status"></span>
		<button id="filecompleted"></button>
      </section>			      
    </div>
</div>