<div class="row" id="username-container">
	<div class="col-md-4">
		<div class="navbar-form navbar-left user-name">
		  <div class="form-group">
		    <input type="text" id="btn-username" class="form-control" placeholder="Please enter your name">
		  </div>
		  <button id="apply" class="btn btn-success">Apply</button>
		</div>
	</div>
</div>