<div class="col-md-8 video-chat">
	<div class="loading"></div>
	<div class="publisher videoBox bg-primary">
		<label id="username-label">You</label>
		<div id="myPublisherDiv">						
		</div>
	</div>
	<div id='subscribersDiv' class="videoBox bg-primary">
		<label id="guest-label">Guest</label>
	</div>
</div>