<!DOCTYPE html>  
<html lang="en">  
  <% include includes/head %>
  <body>
    <header id="top" class="header">
      <div class="text-vertical-center">
        <h1>GoToShare</h1>
        <h3>Free real time file sharing and video chat, no registration, easy and fast</h3>
        <br>
        <div class="input-group input-group-lg main-form">
          <form name="startMeeting" id="startMeeting">
            <input name="roomName" placeholder="Name of the room" class="form-control" aria-describedby="sizing-addon1">
          </form>
        </div>
      </div>
    </header>
  </body>
</html>