<!DOCTYPE html>  
<html lang="en">
<% include includes/head %>
<link rel="stylesheet" type="text/css" href="/stylesheets/upload/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/upload/main-inputs.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h1>Welcome to <span>#<%=params.room%></span>'s room <a href="/" class="gohome">GoToShare</a></h1>			
			<!-- Update user name section -->
			<% include includes/updateUser %>
			
			<!-- Video chat container -->
			<% include includes/video %>

			<input type="hidden" value="<%=params.opentokSessionId%>" id="opentokSessionId">
			<input type="hidden" value="<%=params.opentokToken%>" id="opentokToken">
			<input type="hidden" value="Guest" id="user_name">
			<input type="hidden" value="<%=params.room%>" id="channel">

			<!-- Chat window -->
			<div class="col-md-4 bg-info">
				<div id="chat" class="chatBox">
					<% include includes/chat %>
				</div>
			</div>

			<!-- File upload section -->
			<% include includes/fileUpload %>

		</div>
	</div>
	<% include includes/footer %>
</body>
</html>