<!DOCTYPE html>  
<html lang="en">
<% include includes/start_header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/upload/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/upload/main-inputs.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h1>Welcome to <span>#<%=roomName%></span> room</h1>
			<div class="col-md-8 bg-primary">
				<div id="myPublisherDiv" class="videoBox"></div>
				<div id='subscribersDiv' class="videoBox"></div> 
			</div>
			<div class="col-md-4 bg-info">
				<div id="chat" class="chatBox">
					<% include includes/chat %>
				</div>
			</div>
			<div class="col-md-8">
				<div class="fileSection">
			      <form id="fileInfo">
			        <input type="file" class="list-group-item list-group-item-warning" id="fileInput" name="files"/>
			      </form>
			      <section>
				      <div class="progress">
				        <div class="label">Send progress: </div>
				        <progress id="sendProgress" max="0" value="0"></progress>
				      </div>

				      <div class="progress">
				        <div class="label">Receive progress: </div>
				        <progress id="receiveProgress" max="0" value="0"></progress>
				      </div>

				      <div id="bitrate"></div>
				      <a id="download"></a>
				      <span id="status"></span>
			      </section>			      
			    </div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/opentok.variables.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>
<!---<script type="text/javascript" src="/javascripts/upload/test.js"></script>
 <script src="/javascripts/upload/adapter.js"></script>
  <script src="/javascripts/upload/common.js"></script>
  <script src="/javascripts/upload/main.js"></script>---->
</html>