<!DOCTYPE html>
<html>
<head>
    <title>Using PubNub For Publish And Subscribe Communication</title>

    <!-- Mobile viewport configuration. -->
    <meta name="viewport" content = "width=device-width, user-scalable=no" />

    <!-- Chat styles. -->

    <!-- jQuery. -->
    <script type="text/javascript" src="/javascripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/rx.all.min.js"></script>
    <script type="text/javascript" src="/javascripts/rx.dom.min.js"></script>
</head>
<body>


    <!-- This is simple CHAT - what can I say, it's realtime. -->

    <div class="messageLog">
        <ul>
            <!-- This will be populated dynamically. -->
        </ul>
    </div>

    <form id="form">

        <input type="text" name="message" size="" />

        <button type="submit" disabled="disabled">Send</button>

    </form>


    <!-- PubNub configuration details. -->
    <div
        id="pubnub"
        pub-key="pub-c-8ed53d0e-a050-4bf5-898d-7067c63d8276"
        sub-key="sub-c-4c51d0f2-bade-11e5-8f6e-0619f8945a4f"
        origin="pubsub.pubnub.com"
        ssl="off">
    </div>

    <!--
        Include PubNub from THEIR content delivery netrwork. In the
        documentation, they recommend this as the only way to build
        things appropriately; it allows them to continually update
        the security features.
        NOTE: The PubNub script MUST BE included AFTER the above DIV
        tag that provides the configuration keys.
    -->
    <script type="text/javascript" src="https://cdn.pubnub.com/pubnub.min.js"></script>

    <script type="text/javascript" src="/javascripts/testpubnub.js"></script>

</body>
</html>