
html,body {
    width: 100%;
    height: 100%;
}

.header{display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;}

.text-vertical-center{display: table-cell;
    text-align: center;
    vertical-align: middle;}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
h3 {
    font-size: 24px;
}

.main-form{width: 218px;
    margin: 0 auto;}
.main-form input{text-align: center;}
h1 span{color:#337ab7;}
.button-wrapper{display:inline-block;font-size: 2rem;
    padding:.7em 1.4em;
    line-height: normal;}
.button-wrapper .btn-primary{padding-right:50px;padding-left:50px}

.form-main span{font-size: 14px;
    color: gray;
    position: absolute;
    top: 7px;
    margin-left: 5px;}

.videoBox{display: inline-block;
    border: 1px solid;
    width: 49%;
    height: 400px;
    margin: 3px;}
.chatBox{display:inline-block;border:1px solid #fff;width:100%;margin:5px; height:440px;}